body{
    background-color: rgb(53, 127, 212);
}

h1{
    color: white;
    text-align: center;
}

div{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

select#flista{
    width: 150px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}